

.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: .5em
}

.owner-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.collapse-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
}

@media (width >= 768px) {
  .collapse-wrapper {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
  }

  .rental-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em 0;
  }

  .owner-description {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: end;
    gap: 1.75em;
    margin: 0;
  }
}