.collapsible {

  &__button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    padding: 0.5em;
    border-radius: 5px;
    font-weight: 500;
    font-size: var(--xs-text);
    position: relative;
    z-index: 100;
    
  }

  &__icon {
    width: 18px;
    height: 18px;
    transition: transform 300ms linear;

    &--rotate {
      transform: rotate(180deg);
    }
  }

  &__text-wrapper {
    max-height: 0;
    position: relative;
    top: -8px;
    overflow: hidden;
    transition: max-height 500ms ease-in;
    background-color: #F6F6F6;
    border-radius: 0 0 10px 10px;
    
  }

  &__text {
    font-size: var(--xs-text);
    padding: 1.5em 1em 1em;
    height: 100%;
    line-height: 150%;
  }

  @media (width >= 768px) {
    &__button {
      font-size: var(--m-text);
    }

    &__icon {
      width: 32px;
      height: 32px;
    }

    &__text {
      font-size: var(--s-text);
    }
    
  }
}