html {
  height: 100%;
  font-size: var(--main-font-size);
  color: var(--primary-text-color);
  font-family: var(--main-police);
}

body {
  height: 100%;
  min-width: 375px;
}

.wrapper {
  height: 100%;
  width: var(--app-width);
  padding: 0 min(5%, 100px);
  margin: 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
}

main {
  padding: 1rem 0;
}

@media (width >= 768px) {
  main {
    padding: 4rem 0;
  }
  
}