html, body, #root {
  min-height: 100vh;
}

html {
  font-size: var(--main-font-size);
  color: var(--primary-text-color);
  font-family: var(--main-police);
}

body {
  min-width: 375px;
}

.wrapper {
  min-height: 100%;
  width: var(--app-width);
  min-width: 375px;
  padding: 0 5%;
  margin: 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
}
main {
  padding: 1rem 0;
}

@media (width >= 768px) {
  main {
    padding: 2rem 0;
  }
 .wrapper {
    padding: 0 5rem;
  }
}