html {
  height: 100%;
  font-size: var(--main-font-size);
  color: var(--primary-text-color);
  font-family: var(--main-police);
}

body {
  height: 100%;
  min-width: 375px;
}

#root {
  width: var(--app-width);
  height: 100%;
  margin: auto;
  padding: 0 min(5%, 100px);
}